<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100px;
            background: linear-gradient(-45deg, rgb(195, 0, 255), orange);
        }
        .container{
            background: #222; 
            width: 350px;
            height: 200px;
            align-items: center;
            text-align: center;
            overflow: hidden;
            margin: 25px;
            position: fixed;
            top: 25%;
            left: 50%;
            margin-top: -140px;
            margin-left: -240px;
            padding:40px;
            display: table;
            box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
            border-radius: 15px;
        }
        #text{
            font-size: 2.5rem;
            margin: 35px;
            font-weight: bold;
            color: rgb(20, 180, 255);
        }
        .p{
            font-size: 1.5rem;
            margin: 35px;
            font-weight: bold;
            color: rgb(20, 180, 255);
        }
        .input1{
            margin-bottom: 20px;
            margin-top: 20px;
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 8px;
            padding: 0 15px;
            font-size: 15px;
            background: #333;
            color: white;
            border: 1.5px solid #00b4f6;
        }
        .input1{
            height: 50px;
        }
        .input2{
            margin-bottom: 20px;
            margin-top: 20px;
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 8px;
            padding: 0 15px;
            font-size: 15px;
            background: #333;
            color: white;
            border: 1.5px solid #00b4f6;
        }
        .input2{
            height: 50px;
        }
        input[type="submit"]{
            font-size: 1.5rem;
            padding: 5px 10px;
            font-weight: bold;
            text-decoration: none;
            border: none;
            border-radius: 10px;
            background-color: rgb(20, 180, 255);
            color: white;
            margin-top: 15px;
            margin: 25px 0 6px;
        }
        input[type="submit"]:hover{
            background-color: rgb(70, 86, 255);
            color: white;
        }
        input[type="submit"]:active{
            transform: scale(0.95);
        }
        .signIn{
            text-decoration: none;
            color: hsl(108, 100%, 58%);
        }
    </style>
</head>
<body>
    
    <form action="/loged_in" method="post" class="container">
        <label id="text">Login</label>
        <input type="email" id="loginEmail" class="input1" name="email" placeholder="enter your email" required><br>
        <input type="password" id="loginPassword" class="input2" name="password" placeholder="enter your password" required><br>
        <input type="submit" id="loginBtn" value="submit"><br><br>
        <p class="p">I Don't have an account <a href="/users/add" class="signIn">Sign In?</a></p>

    </form>
</body>
</html>